/* centrar el tablero */

body {
    display: inline-grid;
    place-items: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;

}

.simon {
    position: relative;
    margin-top: 50px;
    padding: 10px;
    border-radius: 5px;
}

.buttonContainer {
    display: inline-grid;
    grid-gap: 10px;
    grid-template-columns: auto auto;
    transform: rotate(45deg);/* rombo */
}

.square {
    border-radius: 5px;
    width: 150px;
    height: 150px;
    cursor: pointer;
}

/*square activado */
.square:active,
.active {
    filter: brightness(200%);
}

.red {
    background-color: #d7250e;
}

.blue {
    background-color: #0cbff0;
}

.green {
    background-color: #15eb60;
}

.yellow {
    background-color: #f8cd22;
}

#startButton {
    width: 90px;
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    background-color: black;
    font-size: 15px;
    border : 1px solid white;
    letter-spacing: 2px;

}

#startButton:disabled {
    background-color: #eee;
}

.title {
    width: min-content;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    letter-spacing: 1px;

}

.winner {
    animation: spin 1s ease-in-out;
}

#round{
    color:white;
    src: url('./imagenes/trofeo.png');
    
}



@keyframes spin { 
    100% { transform:rotate(180deg) } }

   