/* centrar el tablero */


body{
    display: inline-grid;
    place-items: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.simon{
    position: relative;
    margin-top: 50px;
    padding: 10px;
    border-radius: 5px;
    

}

.buttonContainer{
    display: inline-grid;
    grid-gap: 10px;
    grid-template-columns: auto auto;
    transform: rotate(45deg); /* rombo */
}
.square{
    border-radius: 5px;
    width: 150px;
    height: 150px;
    cursor: pointer;
}

/*square activado */
.square:active,
.active {
    filter: brightness(150%);
}



.blue{
    background-color:#08B2E3;
}

.green{
    background-color:green;
}

.yellow{
    background-color:yellow;
    
}
.red{
    background-color:red;
}

#startButton{
    width: 90px;
    position: absolute;
    top: 10px;
    right: 10px;
    border:none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
    border-radius: 3px;
    color:white;
    padding: 5px;
    background-color: black;
    font-size: 15px;
    border : 1px solid white;
   
    letter-spacing: 2px;
  
}

#startButton:disabled {
    background-color: aliceblue;
}

.title{
    width: min-content;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    letter-spacing: 1px;
}

/* cuando gana el juego rota los cuadrados */

.winner{
    animation: spin 1s ease-in-out;
}

@keyframes spin {
    100% {transform: rotate(180deg)}
}